.input {
    width: 50%;
}

.inputBox {
    width: 100%;
    transition: 0.25;
    box-shadow: inset 0 0 5px #000;
}
.inputBox:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.inputSubmit {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 0px;
    background-color: #2f74ce;
    transition: 0.2s all;
    box-shadow: 0 0 10px #000;
}
.inputSubmit:hover {
    background-color: #388ae2;
}
.inputSubmit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px #000;
}
.todos {
    width: 90%;
}
.todosSingle {
    width: 29.5%;
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000");
    background-position: left center;
}

.todosSingle_Text {
    border: none;
}
.todosSingle_Text:focus {
    outline: none;
}

.icon {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .todosSingle {
        width: 40%;
    }
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }
    .todos {
        width: 95%;
    }
    .todosSingle {
        width: 100%;
    }
}
